//import partials

@import 'config';
@import 'utilities';
@import 'layout';
@import 'pages/index';
@import 'pages/about';
@import 'pages/contact';
@import 'pages/faq';


.contact,
.contact__main {
    margin: 5rem auto;
}

.contact__header,
.contact__intro {
    margin: auto;
    text-align: center;
}

.fa-phone {
    transform: rotate(90deg);
}

.detail__link {
    color: $primary-color;
}

.form__element {
    width: 100%;
    margin: .2rem 0;
    padding: .5rem;
    border: solid 1px #C2D1D9;
}

.form__element:not(textarea) {
    height: 2.5rem;
}

.form__element:focus {
    outline: none;
}

.button.form__element {
    background: $primary-color;
    color: $secondary-color;
}

.quicklinks {
    margin: 3rem auto;
    padding: 3rem 0;
    border-top: solid 1px $primary-color;
}

.quicklink {
    margin: 1rem 0;
}

.quicklink__head {
    margin-bottom: 1rem;
}

.quicklink__ul {
    padding-inline-start: 0;
}

.quicklink__list {
    list-style: none;
    margin: .5rem 0;
}

.quicklink__link {
    color: $primary-color;
    text-decoration: none;
}