//import partials
@import 'config';
@import 'utilities';
@import 'layout';
@import 'pages/index';
@import 'pages/about';
@import 'pages/contact';
@import 'pages/faq';
@import 'pages/blogs';
@import 'pages/index';
@import 'pages/blog_search';
@import 'pages/signup';
@import 'pages/recoverpassword';
@import 'pages/comment-api';
@import 'pages/blog_post';
@import 'pages/doclayout';
@import 'pages/auth';
//dashboard area css
@import 'dashboard/index';
