#configure {
    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-parent {
    .content {
        .wide-screen {
            width: 100%;
            height: 100%;
            background-image: url('./assets/img/configuration-blog-api-img/widescreen-bg.svg');
        }
    }
}
}