$imgpath: "../../assets/img";

#configure {
    $primary-color: #E9E9E9;
    $primary-dark-color: #121215;
    $secondary-color: #fff;
    $secondary-dark-color: #979797;
    $tetiary-color: #f4f4f4;
    $theme-color: #58BF8E;
    $theme-dark-color: #16172D; 
    $tertiary-dark: #5E5E66;
    $light-color: #FAFAFA;
    $dark-color: #202020; 


    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-parent {
    padding: 80px 0 0 0;
    margin-left: 255px;

    a {
        color: $dark-color;
        
    }

    a:hover {
        text-decoration: none;
        
    }
    .content {
        h5 {
            font-size: 16px;
            line-height: 19px;
            color: $dark-color;
            padding: 5px 15px 15px 0 ;
        }
        .wide-screen {
            width: 100%;
            // height: 1105.05px;
            background: url(#{$imgpath}/widescreen-bg.svg) no-repeat center center;
            background-size: cover;
            overflow: hidden;

            .content-txt {
                padding: 50px 50px 10px 50px;
                    
                h2 {
                    font-size: 40px;
                    line-height: 50px;
                }

                p {
                    font-size: 18px;
                    line-height: 21px;
                    color: $tertiary-dark;

                }
            }

            .graph {
                padding: 20px 50px 10px 50px;

                img {
                    width: 100%;
                }
            }

            .form {
                padding: 20px 50px 10px 50px;

                ::placeholder {
                    color: $secondary-dark-color;
                    font-size: 18px;
                    line-height: 21px;
                }
                label {
                    display: block;
                    padding: 10px 10px 10px 0;
                    font-size: 16px;
                    line-height: 19px;
                    color: $dark-color;
                }

                input {
                    width: 100%;
                    padding: 10px 25px;
                    margin: 10px;
                }
                .side {
                    width: 10px !important;
                    font-size: 10px;
                    margin: 25px 15px 10px 15px !important;
                }
                
               
            }

            .primary-btn {
                // width: 90%;
                // padding: 20px 50px 10px 50px;
                // margin: 20px 50px 10px 50px;
                width: 100%;
                padding: 20px 50px 10px 50px;
                // padding: 10px 25px;
                margin: 0 5% 5px 0;

                span {
                    float: right;
                    font-size: 20px;
                    input {
                        border: none;
                    background-color: transparent !important;
                    color: $secondary-color;
                    }
                }
            }
        }

        .mini-screen {
            .statistics, .documentation, .sample{
                background-color: $primary-color;
                margin: 20px;
                width: 90%;
                padding: 20px 20px 30px 40px;
            }  

            .documentation {
                padding: 25px 20px 20px 40px;

                ul {
                    list-style: circle;

                    
                }
            }

            .github {
                width: 90%;
                margin: 20px;
                padding: 20px 40px;
            }

            .github a {
                color: $secondary-color;
            }

            select {
                width: 100%;
                padding: 10px 10px 10px 5px;
                background-color: transparent;
            }

            .book a, .download a{
                
                color: $theme-color;
            }

            .book, .download{
                
                color: $theme-color;
            }

            img {
                width: 180px;
            }

            

        }
    }
}
}

    /*===== Media Queries =====*/
    @media screen and (max-width: 1260px) {

        #configure .content-parent .content .mini-screen .documentation {
            padding: 25px 25px 20px 30px;
        }

        #configure .content-parent .content .mini-screen .sample {
            padding: 20px 25px 20px 30px;
        }

        #configure .content-parent .content .mini-screen .statistics {
            padding: 20px 25px 20px 30px;
        }
    }

    @media screen and (max-width: 1000px) {

        img {
            width: 160px;
        }
    }

    @media screen and (max-width: 1200px) {
        #configure .content-parent .content .mini-screen .documentation {
            padding: 25px 10px 20px 25px;
            margin: 8px;
        }

        #configure .content-parent .content .mini-screen .sample {
            padding: 20px 20px 20px 25px;
            margin: 8px;
        }

        #configure .content-parent .content .mini-screen .statistics {
            padding: 20px 20px 20px 25px;
            margin: 8px;
        }

        #configure .content-parent .content .mini-screen .github {
            padding: 20px 25px;
            margin: 8px;
        }

        .content {
            font-size: 12px;
        }

        h4 {
            font-size: 1rem;
        }

        #configure .content-parent .content h5 {
            font-size: 11px;
            padding: 5px 5px 15px 0
        }

        img {
            width: 150px;
        }
    }

    @media screen and (max-width: 1000px) {

        // #configure .content-parent .content .wide-screen .primary-btn {
        //     width: 100%;
        //     // padding: 10px 25px;
        //     margin: 0 5% 5px 0;
        // }

        #configure .content-parent .content .mini-screen .documentation {
            padding: 25px 10px 20px 15px;
            margin: 8px;
        }

        #configure .content-parent .content .mini-screen .sample {
            padding: 20px 20px 20px 15px;
            margin: 8px;
        }

        #configure .content-parent .content .mini-screen .statistics {
            padding: 20px 20px 20px 15px;
            margin: 8px;
        }

        #configure .content-parent .content .mini-screen .github {
            padding: 20px 15px;
            margin: 8px;
        }

        // .content {
        //     font-size: 14px;
        // }

        .content {
            font-size: 12px;
        }

        h4 {
            font-size: 1rem;
        }

        #configure .content-parent .content h5 {
            font-size: 11px;
            padding: 5px 5px 15px 0
        }

        img {
            width: 130px;
        }
    }

    @media screen and (max-width: 900px) {
        #configure .content-parent {
            padding: 50px 0 0 0;
            margin: 3%;
        }

        .content {
            font-size: 12px;
        }

        h4 {
            font-size: 1rem;
        }

        #configure .content-parent .content h5 {
            font-size: 12px;
        }
    }

    @media screen and (max-width: 860px) {

        form label {
            font-size: 13px !important;
        }
    }

    @media screen and (max-width: 767px) {

        #configure .content-parent .content .wide-screen {
            width: 94%;
            margin: 3%;
            // padding: 20px 10px 20px 10px;
        }

        #configure .content-parent .content .mini-screen .documentation {
            padding: 25px 20px 20px 50px;
            width: 94%;
            margin: 3%;
        }

        #configure .content-parent .content .mini-screen .sample {
            padding: 20px 50px 20px 50px;
            width: 94%;
            margin: 3%;
        }

        #configure .content-parent .content .mini-screen .statistics {
            padding: 20px 25px 20px 10px;
            width: 94%;
            margin: 3%;
            text-align: center;
        }

        #configure .content-parent .content .mini-screen .github {
            width: 94%;
            margin: 3%;
            padding: 20px 50px;
        }

        #configure .content-parent .content .wide-screen .primary-btn {
            width: 100%;
            // padding: 10px 25px;
            margin: 0 5% 5px 0;
        }

        #configure .content-parent .content h5 {
            font-size: 14px;
        }

        h4 {
            font-size: 1.2rem;
        }

        img {
            width: 160px;
        }

        .content {
            font-size: 14px;
        }
    }