#home {

  @mixin tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  }

  $primary-color: #1A1B2D;
  $primary-dark-color: #121215;
  $secondary-color: #fff;
  $secondary-dark-color: #999999;
  $tetiary-color: #f4f4f4;
  $theme-color: #58BF8E;
  $theme-dark-color: #16172D; 
  $tertiary-dark: #5E5E66;
  $light-color: #FAFAFA;
  $dark-color: #010216; 

  img {
    width: 100%;
  }

  p {
    color: $tertiary-dark;
  }
  
  .section-one {
    width: 100%;
    .head-txt {
      padding: 130px 50px 30px 50px;
      h1 {
        font-size: 70px;
        line-height: 124%;
        color: $primary-dark-color;

        span {
          color: $theme-color;
        }
      }

      p {
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.03em;
        padding: 15px 200px;
        font-weight: bold;
      }
    }

    .semi-head {

      padding: 50px;
      h4 {
        font-size: 38px;
        line-height: 70px;
        letter-spacing: 0.03em;
      }

      p {
        font-size: 18px;
        line-height: 27px;
        font-weight: bold;
        padding: 0 200px;
      }
    }

    .why-section {
      padding: 0px 10px 50px 10px;

      h5 {
        font-size: 24px;
        line-height: 37px;
        color: $theme-dark-color;
        letter-spacing: 0.03em;
      }

      .why-txt {
        display: flex;
        margin: 20px 150px 10px 150px;

        div {
          padding: 30px 30px 0px 30px;
        }

        h6 {
          font-size: 18px;
          line-height: 34px;
          color: $theme-dark-color;
          letter-spacing: 0.03em;
        }

        p {
          font-size: 16px;
          line-height: 134%;
          color: $secondary-dark-color;
          padding: 0 10px;
        }
      }
    } 
  }

  .section-two {
    background-color: $tetiary-color;

    .dashboard {
      margin: auto;
      align-items: center;
      padding: 50px 150px;

      h4 {
        font-size: 36px;
        line-height: 42px;
        padding: 5px 10px;
      }

      p {
        font-size: 18px;
        line-height: 27px;
        padding: 10px 200px 30px 10px;
      }
    }
  }

  .section-three {
    width: 100%;
    margin: 50px auto;
    align-items: center;
    text-align: center;
    
    h6 {
      font-size: 16px;
      line-height: 144.02%;
      color: $tertiary-dark;
      padding: 5px 10px;
    }

    &-img {
      display: flex;
      justify-content: center;

      img {
        padding: 10px 30px;
      }
      img:nth-child(1) {
        width: 130px;
      }
      img:nth-child(2) {
        width: 170px;
      }
      img:nth-child(3) {
        width: 120px;
      }
    }
  }

  .section-four {
    width: 100%;
    margin: 50px auto;
    align-items: center;
    text-align: center;
    
    h6 {
      font-size: 16px;
      line-height: 144.02%;
      color: $tertiary-dark;
      padding: 5px 10px;
    }

    &-img {
      display: flex;
      justify-content: center;

      img {
        padding: 10px 12px;
      }
      img:nth-child(1) {
        width: 130px;
      }
      img:nth-child(2) {
        width: 80px;
      }
      img:nth-child(3) {
        width: 130px;
      }
      img:nth-child(4) {
        width: 70px;
      }
      img:nth-child(5) {
        width: 160px;
      }
      img:nth-child(6) {
        width: 150px;
      }
    }
  }
  
  .section-five {
    background-color: $light-color;

    .container {
      margin: 60px auto;
      padding: 5px 200px;

      .section-five-head {
        h4 {
          font-size: 38px;
          line-height: 70px;
          letter-spacing: 0.03em;
        }
  
        p {
          font-size: 18px;
          line-height: 27px;
          font-weight: bold;
          padding: 0 50px 40px 50px;
        }
      }

      .card {
        margin: 10px;
        border: none;
        padding: 40px 30px;

        p {
          padding: 10px 0;
          font-size: 18px;
          line-height: 27px;
          color: $primary-dark-color;
        }

        h6 {
          padding: 10px 0;
          font-size: 24px;
          line-height: 28px;
        }

        .tetiary-btn {
          margin: 0 140px 0 0;
        }
      }

      .hide {
        visibility: hidden;
      }
      
     @include tablet{
       font-size: 1.5em !important;
     }
    }
 
    &__text{
     @include tablet{
       font-size: 0.7em;
     }
    }
 }

 .item-three h5{
  font-size:30px;
 }
 
 .item-four {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 
   &__content {
     padding:0em 2em;
     border-right: 0.01em solid lighten($color: $primary-color, $amount: 70);
   h6{
     font-size:20px;

   }
   
    }
 
   &__header {
     overflow: hidden;
   }
 
   &__description {
     color: darken($color: $tetiary-color, $amount: 40);
   }
 }
 
.item-five {
  margin-top: 4em;
 //  padding: 0 8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $tetiary-color;
.row{
 width:100%;
 margin:4em auto 0em auto;
 // text-align: justify;
 .heading{
   width: 65%;
   margin: auto;
   text-align: left;
   @include tablet{
    width: 90%;
  }
 }
}
  &__container {
    display: flex;
    justify-content: center;
    &__img {
      height: 25em;
    }
  }
  @include tablet{
    padding: 0;
  }
}
 
 .item-six {
   margin:auto;
   width:40%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 
   &__icon {
     padding:0em 0.5em;
     font-size:70px;
     color: darken($color: $secondary-color, $amount: 50);
   }
 }
 
 .item-seven {
   margin-top: 4em;
  //  padding: 0 8em;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: $tetiary-color;
 .row{
  width:100%;
  margin:4em auto 0em auto;
  // text-align: justify;
  .heading{
    width: 65%;
    margin: auto;
    text-align: left;
    @include tablet{
     width: 90%;
   }
  }
 }
   &__container {
     display: flex;
     justify-content: center;
   }
 
   &__img {
     height: 25em;
   }
 
   @include tablet{
     padding: 0;
   }
 
  
 }
 .item-eight {
   background-color: $tetiary-color;
   .row{
     width:60%;
     margin:auto;
     @include tablet{
      width:100%;
    }
   }
 p{
   font-size:18px;
 }
   &--nine {
     background-color: $secondary-color;
   }
 }
 
 .item-nine {
  padding:0em 14em;
   display: flex;
   flex-wrap: wrap;
   justify-content: end;
   align-items: center;
   background-color: $tetiary-color;
   @include tablet{
    padding: 0 0.5em;
  }

  .item-one__header{
    font-size:28px !important;

  }
   .item-one__text{
    margin-bottom:3em !important;

  }
   &__content {
    //  padding-left: 13em;
 
     @include tablet{
      //  padding-left: 10%;
     }
 
   }
 
   &__item {
     background-color: $secondary-color;
     padding :2em;
     padding-bottom: 3em;
   
 
     &__link {
       color: $primary-color;
       background-color: $tetiary-color;
       margin:2em 0em;
       padding: 0.8em;
 
       &__link:hover{
             text-decoration: none;
       }
     }
   }
 
   &__button {
       color: $secondary-color;
       background-color: $primary-color;
       font-size: 1.3em;
       padding: 1.5em;
       text-align: center;
 
       @include tablet{
         font-size: 0.8em;
       }
   }
 }
 
 .item-ten {
 
   &__text {
     text-transform: uppercase;
     color:rgb(172, 169, 169); ;
 
     @include tablet{
       font-size: 0.7em;
     }
   }
  //  .__image-container{
  //    display:flex;
  //    .__image-container__img{
  //     display:flex
  //   }
  //  }
   &__image-container{
      
       display: flex;
       justify-content: center;
       &__img {
         height: 6em;
        padding:0em 1.5em;
       }
       @include tablet{
         width:50%;
         margin:auto;
        display:block;
         
       }
   }
 
   &__other {
     background-color: $secondary-color;
   }
 }

 
 .item-eleven{
  .started_btn{
padding: 0.5em 2.5em;
background-color: $primary-color;
text-decoration: none;
border:none;
outline:none;
color:#fff
  }
 }
}
 
