//api box

.api__box {
  display: flex;
  box-shadow: 3px 3px 2px 2px lighten($color: #000000, $amount: 70);
  border: 2px solid #fff;
  background-color: $secondary-color;
  padding-top: 1px;
  padding-left: 1px;
  width: 23%;

  &__shadow {
    width: 100%;
    height: 100%;
    background-color: $tetiary-color;
    border: 7px 3px 3px 7px solid $secondary-color;
  }
  
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: .5rem;
    box-shadow: inset 2px 2px 3px 2px lighten($color: $primary-color, $amount: 70);
    background-color: $tetiary-color;
    padding: 20px;

    .api__box__heading {
      border-bottom: 1px solid lighten($color: $primary-color, $amount: 60);
      display: flex;
      justify-content: space-between;
    }

    .api__box__text {
      padding: .7rem 0 .9rem;
      line-height: 1;

      small {
        font-family: 'gilroysemibold';
      }
    }

    .api__box__stats {

      color: lighten($color: $primary-color, $amount: 30);

      span {
        color: $primary-color;
        font-family: 'gilroysemibold';
      }
    }

    .api__box__buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > a > button.primary-btn {
        padding: .2rem 1rem;
      }
    }
  
  }
}

